version: '3.8'

services:
  frontend:
    build:
      context: ./fe
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - REACT_APP_API_URL=http://localhost:5000
    depends_on:
      - backend
    networks:
      - app-network

  backend:
    build:
      context: ./be
      dockerfile: Dockerfile
    ports:
      - "5000:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
    volumes:
      - ./be/expense-tracker-auth-c50cf-firebase-adminsdk-fbsvc-844c0c5410.json:/app/expense-tracker-auth-c50cf-firebase-adminsdk-fbsvc-844c0c5410.json
      - ./be/.env:/app/.env
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    driver: bridge